<?xml version="1.0" encoding="utf-8"?>
<!--
MIT License
Copyright (c) 2017 Kristijan Burnik
Please refer to the LICENSE file in project root.
-->
<packages>
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net45" />
  <package id="Mvvm" version="1.0.4" targetFramework="net45" />
  <package id="RelayCommand" version="1.0.2" targetFramework="net45" />
</packages>